.tags {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  background-color: white;
  border-radius: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}

.tagSelected {
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}

.tagSelected:hover {
  filter: brightness(0.9);
}

.tag:hover {
  background-color: lightgray;
  color: white;
}
