body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato-Regular", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8dee6;
}

table {
  background-color: white;
  border: lightslategray;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

.midBody {
  /* background-color: #343745; */
  padding-top: 5rem;
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  height: 2.5rem;
  font-size: 1.25rem;
  outline: none;
}

@font-face {
  font-family: "Anton-Regular";
  src: url(./assets/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-Bold";
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
