.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  position: relative;
}

.repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.searchInput {
  background-color: #f6f6f6;
  border: none;
  height: 2.5rem;
  font-size: 1.25rem;
  outline: none;
  width: 100%;
}

@media only screen and (max-width: 1425px) {
  .repositories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
}